[submodule ".config/nvim/bundle/ack.vim"]
	path = .config/nvim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".config/nvim/bundle/auto-pairs"]
	path = .config/nvim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".config/nvim/bundle/ctrlp.vim"]
	path = .config/nvim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".config/nvim/bundle/dracula-theme"]
	path = .config/nvim/bundle/dracula-theme
	url = https://github.com/dracula/vim
[submodule ".config/nvim/bundle/emmet-vim"]
	path = .config/nvim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule ".config/nvim/bundle/UltiSnips"]
	path = .config/nvim/bundle/UltiSnips
	url = https://github.com/SirVer/ultisnips
[submodule ".config/nvim/bundle/ag.vim"]
	path = .config/nvim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule ".config/nvim/bundle/tlib_vim"]
	path = .config/nvim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule ".config/nvim/bundle/vim-addon-mw-utils"]
	path = .config/nvim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils 
[submodule ".config/nvim/bundle/ferret"]
	path = .config/nvim/bundle/ferret
	url = https://github.com/wincent/ferret.git
[submodule ".config/nvim/bundle/vim-vinegar"]
	path = .config/nvim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".config/nvim/bundle/lightline.vim"]
	path = .config/nvim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".config/nvim/bundle/nerdtree"]
	path = .config/nvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".config/nvim/bundle/nette.vim"]
	path = .config/nvim/bundle/nette.vim
	url = https://github.com/fpob/nette.vim
[submodule ".config/nvim/bundle/pathogen"]
	path = .config/nvim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".config/nvim/bundle/phpcomplete-extended"]
	path = .config/nvim/bundle/phpcomplete-extended
	url = https://github.com/m2mdas/phpcomplete-extended
[submodule ".config/nvim/bundle/tagbar"]
	path = .config/nvim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".config/nvim/bundle/vim-blade"]
	path = .config/nvim/bundle/vim-blade
	url = https://github.com/jwalton512/vim-blade
[submodule ".config/nvim/bundle/vim-devicons"]
	path = .config/nvim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".config/nvim/bundle/vim-fugitive"]
	path = .config/nvim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".config/nvim/bundle/vim-gitgutter"]
	path = .config/nvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".config/nvim/bundle/vim-php-cs-fixer"]
	path = nvim/bundle/vim-php-cs-fixer
	url = https://github.com/stephpy/vim-php-cs-fixer
[submodule ".config/nvim/bundle/vim-surround"]
	path = .config/nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".config/nvim/bundle/vimproc.vim"]
	path = .config/nvim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule ".config/nvim/bundle/ctrlp-funky"]
	path = .config/nvim/bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky
[submodule ".config/nvim/bundle/discord.nvim"]
	path = .config/nvim/bundle/discord.nvim
	url = https://github.com/aurieh/discord.nvim
[submodule ".config/nvim/bundle/Dockerfile.vim"]
	path = .config/nvim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule ".config/nvim/bundle/YouCompleteMe"]
	path = .config/nvim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".config/nvim/bundle/syntastic"]
	path = .config/nvim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".config/nvim/bundle/vim-snippets"]
	path = .config/nvim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".config/nvim/bundle/vim-php-namespace"]
	path = .config/nvim/bundle/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace
